.ttr-navigation a > i {
    width: 40px;
    text-align: center;
}

.ttr-navigation li,
.ttr-navigation a {
    border: 25%;
    text-decoration: none;
    color:  #c51f5d;
    background-color:#1e3144;
}
